$c-nue1: black;
$c-nue2: gray;
$c-nue3: lightgray;
$c-nue4: white;
$c-accent: lightslategray;
$c-accent-l: rgba($c-accent, .2);

$bp-lg: 1440px;
$bp-md: 1200px;
$bp-sm: 600px;

$base-fs: .68vw;

$base-bp-xl-fs: $base-fs;
$base-bp-lg-fs: 1vw;
$base-bp-md-fs: 2vw;
$base-bp-sm-fs: 4vw;

$base-lh: 1.5;
$small-fs: .8rem;
$p-ffs: 1rem;
$h4-fs: 1rem;
$h3-fs: 1.1rem;
$h2-fs: 2rem;
$h1-fs: 4rem;
$display-fs: 6rem;

$sans-f:'Open Sans', sans-serif;
$serif-f:'Noto Serif', serif;

