@charset "UTF-8";
:root {
  font-family: 'Open Sans', sans-serif;
  font-size: .68vw;
  line-height: 1.5;
}

@media only screen and (max-width: 600px) {
  :root {
    font-size: 5vw;
  }
}

blockquote {
  font-family: 'Noto Serif', serif;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  padding: 3rem;
  position: relative;
  margin: 2rem 0;
  background-color: rgba(119, 136, 153, 0.2);
}

blockquote:before {
  content: '“';
  position: absolute;
  top: 0rem;
  left: .5rem;
  font-size: 6rem;
  color: lightslategray;
}

blockquote:after {
  content: '”';
  position: absolute;
  bottom: -2rem;
  right: .5rem;
  font-size: 6rem;
  color: lightslategray;
}

body {
  font-size: 1rem;
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: white;
  color: black;
}

body figure {
  position: relative;
  display: grid;
  grid-template-columns: 12.5vw 12.5vw 12.5vw 12.5vw;
  grid-template-areas: "h h h h";
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

body figure img {
  background-image: url(./assets/hero.jpg);
  background-size: cover;
  background-color: rgba(119, 136, 153, 0.2);
  background-position: -.5vw center;
  background-blend-mode: soft-light;
}

body figure img:first-child {
  grid-area: h;
}

body aside {
  grid-area: s;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  color: black;
  padding-left: 4rem;
  align-self: flex-start;
}

body aside section {
  border-left: lightslategray 1px solid;
  padding-left: 4rem;
}

body aside article {
  margin-bottom: 1vw;
}

body aside * {
  display: block;
}

body aside em {
  color: lightslategray;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: .1em;
}

body aside strong {
  font-weight: bold;
}

body main {
  padding: 12rem;
  overflow: scroll;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "h h" "a s";
}

body main header {
  grid-area: h;
}

body main article {
  grid-area: a;
  text-align: justify;
}

body main article section {
  padding: 3rem;
  position: relative;
  margin: 2rem 0;
  background-color: rgba(119, 136, 153, 0.2);
}

body main article section ul {
  list-style-position: inside;
  padding: 0px;
  margin: 0px;
  column-count: 2;
  font-size: .8rem;
}

body small {
  font-size: .8rem;
}

body h1 {
  font-family: 'Noto Serif', serif;
  font-size: 4rem;
}

body h2 {
  font-family: 'Noto Serif', serif;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

body h4 {
  font-size: 1rem;
  color: lightslategray;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
}

body a,
body a:visited,
body a:active {
  color: white;
}

body a:hover {
  color: grey;
}
