:root {
  background-color: white;
  color: black;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 1vw;
  line-height: 1.5;
  font-weight: 300;
}
:root,
:root * {
  position: relative;
}
@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  :root {
    font-size: 1vw;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1199px) {
  :root {
    font-size: 2vw;
  }
}
@media only screen and (max-width: 599px) {
  :root {
    font-size: 4vw;
  }
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 35px;
}

header {
  border-bottom: 1px solid rgba(119, 136, 153, 0.2);
  padding-bottom: 35px;
  margin-bottom: 35px;
}

main {
  background-color: white;
  display: grid;
  grid-template-columns: auto 600px;
  grid-template-rows: auto;
  padding: 35px;
}
@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  main {
    grid-template-columns: auto 600px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1199px) {
  main {
    grid-template-columns: calc(100vw - 70px);
    grid-template-rows: auto auto;
  }
}
@media only screen and (max-width: 599px) {
  main {
    grid-template-columns: calc(100vw - 70px);
    grid-template-rows: auto auto;
  }
}

img {
  background-image: url(./assets/hero.jpg);
  background-size: cover;
  background-position: center left;
  filter: grayscale(1);
  width: 100%;
  border-radius: 50%;
  border: 1px solid rgba(119, 136, 153, 0.2);
  aspect-ratio: 1/1;
  margin-bottom: 25px;
}
@media only screen and (min-width: 600px) and (max-width: 1199px) {
  img {
    display: none;
  }
}
@media only screen and (max-width: 599px) {
  img {
    display: none;
  }
}

figure {
  background-color: red;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
figure figcaption {
  position: absolute !important;
  z-index: 1000;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.8rem;
  text-transform: uppercase;
}

#resume3 {
  overflow: scroll;
}
@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  #resume3:before {
    z-index: 1000;
    content: "";
    position: fixed;
    top: 0px;
    height: 8rem;
    width: 100%;
    background-image: linear-gradient(180deg, white 50%, rgba(255, 255, 255, 0));
  }
  #resume3:after {
    content: "";
    position: fixed;
    bottom: 0px;
    height: 8rem;
    width: 100%;
    background-image: linear-gradient(0deg, white 50%, rgba(255, 255, 255, 0));
  }
}
@media only screen and (min-width: 1440px) {
  #resume3:before {
    z-index: 1000;
    content: "";
    position: fixed;
    top: 0px;
    height: 8rem;
    width: 100%;
    background-image: linear-gradient(180deg, white 50%, rgba(255, 255, 255, 0));
  }
  #resume3:after {
    content: "";
    position: fixed;
    bottom: 0px;
    height: 8rem;
    width: 100%;
    background-image: linear-gradient(0deg, white 50%, rgba(255, 255, 255, 0));
  }
}

ul {
  list-style-position: outside;
  padding: 0 0 30px 0;
  margin: 0 0 0 0;
  font-size: 1rem;
  list-style: none;
}
ul li {
  margin: 0 0 5px 0;
  padding: 0;
}
ul li .fa-solid, ul li .fa-regular, ul li .fa-brands {
  position: absolute;
  left: 0px;
  top: 0.15rem;
}
ul li .fa-regular {
  top: 1.9rem;
}

#resume {
  padding: 35px;
  grid-area: a;
}

main {
  align-items: stretch;
  grid-template-areas: "s a";
}
@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  main {
    padding: 8rem;
    grid-template-areas: "s a";
  }
}
@media only screen and (max-width: 599px) {
  main {
    grid-template-areas: "a" "s";
  }
}
@media only screen and (min-width: 600px) and (max-width: 1199px) {
  main {
    grid-template-areas: "a" "s";
  }
}
main aside {
  grid-area: s;
  border-right: 1px solid rgba(119, 136, 153, 0.2);
  padding: 35px;
}
main aside .experience {
  margin-bottom: 1.2rem;
}
@media only screen and (max-width: 599px) {
  main aside {
    border: none;
    border-top: 1px solid rgba(119, 136, 153, 0.2);
    padding: 35px 0;
    margin: 0 35px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1199px) {
  main aside {
    border: none;
    border-top: 1px solid rgba(119, 136, 153, 0.2);
    padding: 35px 0;
    margin: 0 35px;
  }
}

strong {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

small {
  font-size: 0.8rem;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 6rem;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
}

p {
  margin: 0 0 35px 0;
}

a,
a:visited,
a:active {
  color: black;
  text-decoration-color: rgba(119, 136, 153, 0.2);
}

a:hover {
  text-decoration-color: black;
}

@media only print {
  :root {
    font-size: 8pt;
  }
  a {
    text-decoration: none;
  }
  body {
    grid-template-columns: 100vw;
    grid-template-rows: 100vh;
  }
  figure {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */