@import "variables";
@import "mixins";

:root {
    background-color: $c-nue4;
    color: $c-nue1;
    box-sizing: border-box;
    font-family: $sans-f;
    font-size: $base-fs;
    line-height: $base-lh;
    font-weight: 300;

    &,
    * {
        position: relative; 
    }

    @include lg-screen {
        font-size: $base-bp-lg-fs;
    }

    @include md-screen {
        font-size: $base-bp-md-fs;
    }


    @include sm-screen {
        font-size: $base-bp-sm-fs;
    }
}

body {
    display: flex;
    justify-content:center;
    margin: 0;
    padding: 35px;
}

header {
    border-bottom: 1px solid $c-accent-l;
    padding-bottom: 35px;
    margin-bottom: 35px;
}

main {
    background-color: $c-nue4;
    //border: 1px solid $c-accent-l;
    display: grid;
    grid-template-columns: auto 600px;
    grid-template-rows: auto;
    padding: 35px;

    @include lg-screen {
        grid-template-columns: auto 600px;
    }

    @include md-screen {
        grid-template-columns: calc(100vw - 70px);
        grid-template-rows: auto auto;
    }

    @include sm-screen {
        grid-template-columns: calc(100vw - 70px);
        grid-template-rows: auto auto;
    }
}

img {
    background-image: url(./assets/hero.jpg);
    background-size: cover;
    background-position: center left;
    filter:grayscale(1);
    width: 100%;
    border-radius: 50%;
    border: 1px solid $c-accent-l;
    aspect-ratio: 1/1;
    margin-bottom: 25px;

    @include md-screen {
        display:none;
    }
    @include sm-screen {
        display:none;
    }
}

figure {
    background-color: red;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    text-align: center;

    figcaption {
        position: absolute !important;
        z-index: 1000;
        bottom: 1rem;
        right: 1rem;
        font-size: $small-fs;
        text-transform: uppercase;
    }
}

#resume3 {
    overflow: scroll;

    @include lg-screen {
        @include faded-top-bottom;
    }

    @include xl-screen {
        @include faded-top-bottom;
    }
}

ul {
    list-style-position: outside;
    padding: 0 0 30px 0;
    margin: 0 0 0 0;
    font-size: $p-fs;
    list-style: none;

    li {
        margin: 0 0 5px 0;
        padding: 0;

        .fa-solid, .fa-regular, .fa-brands {
            position: absolute;
            left: 0px;
            top: .15rem;
        }

        .fa-regular {
            top: 1.9rem;
        }
    }
}

#resume {
    padding: 35px;
    grid-area: a;
}

main {
    align-items:stretch;
    grid-template-areas: "s a";
    

    @include lg-screen {
        padding: 8rem;
        grid-template-areas: 
            "s a";
    }

    @include sm-screen {
        grid-template-areas: 
            "a"
            "s";
    }

    @include md-screen {
        grid-template-areas: 
            "a"
            "s";
    }

    aside {
        grid-area: s;
        border-right: 1px solid $c-accent-l;
        padding: 35px;
        
        .experience {
            margin-bottom: 1.2rem;
        }
    
        @include sm-screen {
            border: none;
            border-top: 1px solid $c-accent-l;
            padding: 35px 0;
            margin: 0 35px; 
        }
    
        @include md-screen {
            border: none;
            border-top: 1px solid $c-accent-l;
            padding: 35px 0;
            margin: 0 35px; 
        }
    }
}

strong {
    font-family: $sans-f;
    font-weight: bold;
}

small {
    font-size: $small-fs;
}

h1 {
    font-family: $sans-f;
    font-size: $h1-fs;
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: $sans-f;
    font-size: $h2-fs;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: $sans-f;
    font-size: $h3-fs;
    margin: 0;
    padding: 0;
}

h4 {
    font-family: $sans-f;
    font-size: $h3-fs;
    //color: $c-accent;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: $p-fs;
    padding: 0;
}

p {
    margin: 0 0 35px 0;
}

a,
a:visited,
a:active {
    color: $c-nue1;
    text-decoration-color: $c-accent-l;
}

a:hover {
    text-decoration-color: $c-nue1;
}

@media only print {
    :root {
        font-size: 8pt;
    }
    a {
        text-decoration: none;
    }
    body {
        grid-template-columns: 100vw;
        grid-template-rows: 100vh;
    }
    figure {display:none;} 
}