doctype
html(class="#{current.path.slice(-1)[0]}")
  head
    title= title
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300,700")
    link(rel="stylesheet" href="/sl/assets/styles.css")

  body
    != yield