aside
  section
    figure
    h4 Abigail Larson
    small 
      i.fa.fa-twitter 
      i.fa.fa-facebook 
      i.fa.fa-linkedin 
      i.fa.fa-instagram
  ul
    for link in slnav
      li
        a(href="/sl/#{link.slug}")
          i(class="fa fa-#{link.icon}")
          span= link.label
main