//@import '../_mixins/scss/grid';
$tan: #dddfd4;
$yellow: #fae596;
$light: #3fb0ac;
$dark: #173e43;
$black: #444;
$gray: #ccc;
$white: #eee;
@import '../_mixins/header/index.scss';

//@import '../_mixins/project/index.scss';
//@import '../_mixins/project/detail.scss';

body{
  font-family: "IBM Plex Serif", Georgia, "Times New Roman"; //"Libre Baskerville", "Alegreya", 
  font-size: 16pt;
  text-align: center;
  padding: 0;
  font-weight: 300;
  color: $black;
  margin: 0;
}

a {
  text-decoration : none;
  color: $light
}

footer, main {
  padding: 40px;
  background-color: $yellow;
}

h1,h2,h3,h4,h5,h6{
  font-family:  "Bree Serif", "Patua One", Georgia, "Times New Roman";
  //font-weight: bold;
}