//- index.jade

div.container(style="display: flex;")
  for project in projects
    != partial("./_components/project/index", project)

  for project in projects
    //- != partial("./_components/project/detail", project)