//- index.jade

div.container(style="display: flex; flex-wrap: wrap;")
  for project in projects
    != partial("./_mixins/project/index", project)

  //- for project in projects
    //- != partial("./_mixins/project/detail", project)