@import '_components/scss/grid';

@import '_components/header/index.scss';

@import '_components/project/index.scss';
@import '_components/project/detail.scss';

body{
  font-family: "Lora", Georgia, "Times New Roman";
  text-align: center;
  padding: 0;
  font-weight: 400;
  background: #f4f4f7;
  color: #444;
  margin: 0;
}

footer, main {
  padding: 40px;
}

h1{
  font-family: "Roboto Slab", Georgia, "Times New Roman";
  font-weight: bold;
}