a {
  width: calc(33% - 30px);
  height: 260px; // remove
  display: block;
  position: relative;
  overflow: hidden;
  margin: 15px;


  figure {
    position: absolute;
    display: block;
    top:0px;
    left:0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    
    &:after {
      content: "";
      display:block;
      position:absolute;
      background-color: #48a79d;
      height: calc(100px + 50px);
      width: 100%;
      transform: translateY(150%) skewY(-8deg);
      bottom:0px;
      transition: transform .3s;
    }

    img {
      filter: grayscale(100%);
      position: absolute;
      display:block;
      top:0px;
      left:0px;
      background-color:red;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      height: 100%;
      width: 100%;
    }

    figcaption {
      font-weight: 300;
      position: absolute;
      right: 0px;
      bottom: 0px;
      left: 0px;
      padding: 15px;
      color: white;
      transform: translateX(100%);
      transition: transform .2s .1s;
      z-index: 10;
    }
  }
  
  &:hover {
    figure:after {
      transform: translateY(20%) skewY(-8deg);
    }
  }
  
  &:hover figcaption {
    transform: translateY(0);
  }

  &:hover img {
    filter: grayscale(0%);
    background-color: #336e7b;
  }

  &:active img {
    opacity: .5;
  }
}