//- _components/header/index.jade

include /_helpers/_helpers

- let headline = "Collaboratively crafting awesome digital products.";
- headline = headline.split('');


header.marquee(style="background-image: url(/assets/images/#{getImages()}")
  .container
    h2(style="letter-spacing: -4px;margin:0px;line-height:4px;") tD
    h6(style="font-weight:700;font-size: 5px;line-height:20px;") THOMAS DEITZ
    h1 
      for letter in headline
        span= letter
