- function getImages(slug) {
  - let images = slug ? public.assets.images[slug]._contents : public.assets.images._contents;
  - images = images.length > 1 ? images : images[0];
  - return images 
- }

- function getSiblingImages() {
  - let images = slug ? public.assets.images[slug]._contents : public.assets.images._contents;
  - images = images.length > 1 ? images : images[0];
  - return images 
- }